# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.egg-info/
dist/
build/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Environment variables & secrets
.env
*.env
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs & temp
*.log
.DS_Store
